#showContest {
  width: 95%;
  margin: 0 auto;

  > img {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  > h2 {
    padding: 5px 8px;
    margin-bottom: 10px;
    color: #16174f;
    font-size: 24px;
    border-bottom: 5px #e41810 solid;
  }

  > ul {
    table {
      width: 100%;
      td {
        padding: 5px;
        text-align: center;
        width: 10%;
      }
      td:first-child, td:last-child {
        width: 45%;
      }
      td:nth-child(2) {
        color: white;
        background-color: #16174f;
      }
    }
    > li {
      padding: 5px 8px;
      &.position {
        > a {
          color: #16174f;
          font-size: 18px;
        }
        margin-bottom: 10px;
        border-bottom: 3px #e41810 solid;
      }
    }
  }
}

#contestTable {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  th {
    color: #16174f;
  }
  td, th {
    padding: 5px 5px;
    text-align: center;
  }
}