#news {
  width: 90%;
  margin: 0 auto;

  #news__image {
    position: relative;
    img {
      width: 100%
    }
    #news__tags {
      position: absolute;
      right: 12px;
      bottom: 20px;
    }
    .news__tag {
      display: inline-block;
      color: white;
      font-size: 14px;
      padding: 2px 5px;
      background-color: #e41810;
    }
  }

  #news__author {
    color: #c9c9c9;
    margin: 5px;
    font-weight: 100;
    font-size: 12px;
  }

  #news__title {
    margin: 0 10px;
    font-size: 36px;
    font-weight: 800;
  }

  #news__lead {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
  }

  > div {
    margin-bottom: 5px;
  }

  #news__content p {
    font-size: 16px;
    margin-bottom: 8px;
  }
}