.sideBlock {
  border: 1px #c9c9c9 solid;
  margin-bottom: 15px;
  .sideBlock__header {
    padding: 8px 10px;
    color: #16174f;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    border-bottom: 5px #e41810 solid;
  }
  .sideBlock__content {
    padding: 10px;
  }
}

#nextMatch {
  font-family: 'Open Sans', sans-serif;

  #nextMatch__logos {
    display: flex;
    justify-content: space-around;

    .nextMatch__team {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .nextMatch__teamName {
        text-align: center;
        font-size: 0.9em;
        font-weight: normal;
        margin-top: 4px;
      }

      .nextMatch__teamImage {
        display: block;
        height: 128px * 0.7;
      }
    }

    #nextMatch__vs {
      display: block;
      text-align: center;
      color: #16174f;
      font-size: 20px;
      font-weight: 700;
      align-self: center;
    }
  }

  #nextMatch__details {
    font-size: 0.9em;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
      display: flex;
      margin-bottom: 7px;
      text-align: center;
    }
    img {
      width: 15px;
      height: 15px;
    }
    i {
      margin: 2px 5px 0 0;
    }
  }
}

#sideTable {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  th {
    color: #16174f;
  }
  td, th {
    padding: 2px 0;
    text-align: center;
  }
}